.nav {
    height: 80px;
    background: #131313;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.navMenuLeftLogo {
    display: flex;
    justify-content: center;
}

.navMenuLeftItem {
    text-align: center;
}

.navMenuRightItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiInput-underline:before {
    border-bottom: 1px solid #c4c4c4 !important;
}

.navSearchbox input {
    color: #c4c4c4;
}

.user-options {
    width: 180px;
    height: 120px;

    background: #131313 !important;
    border: 1px solid #505050;

    margin-top: 10px;
    
    padding: 2px;
}

.user-options .user-options-container {
    display: flex;
    flex-wrap: wrap;
}

.user-options .user-options-container strong {
    color: #ffffff;
    width: 100%;
    padding: 5px 20px 10px 20px;
    font-size: 20px;
}

.user-options .user-options-container .user-options-content {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    padding: 20px;
}

.user-options .user-options-container .user-options-content a {
    width: 100%;
    height: 20px;

    text-decoration: none;
    font-size: 14px;
    color: #cccccc;
    transition: .2s;
}

.user-options .user-options-container .user-options-content a:hover {
    font-size: 15px;
    transition: .2s;
}