.nav {
    height: 80px;
    background: #131313;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navMenuLeftLogo {
    display: flex;
    justify-content: center;
}

.navMenuLeftItem {
    text-align: center;
}

.navMenuRightItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiInput-underline:before {
    border-bottom: 1px solid #c4c4c4 !important;
}

.navSearchbox input {
    color: #c4c4c4;
}