nav {
    width: 100%;
    height: 70px;

    background: #131313;

    position: sticky;
    top: 0;
}

.nav-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content {
    width: 85%;
    height: 98%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 30%;
    height: 100%;
}

.nav-logo {
    background: lightsalmon;
}

.nav-logo .nav-logo-content {
    
}

.nav-items-left {
    width: 50%;
    height: 100%;
    margin-left: 40px;
}

.nav-items-left ul {
    list-style-type: none;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 50%;
    height: 100%;
}

.menu-right .nav-searchbox {
    margin-right: 50px;
}

.menu-right .nav-searchbox input[type="text"] {
    width: 300px;

    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 15px;
}

.MuiInput-underline:before {
    background: none !important;
    border: none !important;
}

.menu-right .nav-user {
    margin-top: 8px;
}

.user-options {
    width: 180px;
    height: 120px;

    background: #131313 !important;
    border: 1px solid #505050;

    margin-top: 10px;
    
    padding: 2px;
}

.user-options .user-options-container {
    display: flex;
    flex-wrap: wrap;
}

.user-options .user-options-container strong {
    color: #ffffff;
    width: 100%;
    padding: 5px 20px 10px 20px;
    font-size: 20px;
}

.user-options .user-options-container .user-options-content {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    padding: 20px;
}

.user-options .user-options-container .user-options-content a {
    width: 100%;
    height: 20px;

    text-decoration: none;
    font-size: 14px;
    color: #cccccc;
    transition: .2s;
}

.user-options .user-options-container .user-options-content a:hover {
    font-size: 15px;
    transition: .2s;
}